<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:pmenu="http://www.thymeleaf.org/extras/pmenu"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<a id="gh" th:href="@{/guest/backHome}" class="btn btn-outline-primary mt-1">
    [[#{icon.back}]]</a>
<h2 id="error_admin" class="text-danger"></h2>
<div class="container">
    <div id="admin" class="row">
        <div class="span12">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>№</th>
                    <th>[[#{page.admin.role}]]</th>
                    <th>[[#{page.admin.nick}]]</th>
                    <th>[[#{page.admin.email}]]</th>
                    <th>[[#{page.admin.balance}]]</th>
                    <th>[[#{page.admin.subscriptions}]]</th>
                    <th>[[#{page.admin.sum}]]</th>
                    <th>[[#{page.admin.blocked}]]</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="elem,status : ${users}">
                    <input type="hidden" name="id_user${status.count}" value="${elem.id}">
                    <tr>
                        <td>${status.count}</td>
                        <td>
                            <form th:action="@{'/admin/changeRole/' + ${elem.id}}" method="post">
                            <select class="form-select" name="role">
                                <option value="ADMIN"  th:selected="${roles[status.index] == 'ADMIN'}">ADMIN</option>
                                <option value="USER" th:selected="${roles[status.index] == 'USER'}">USER</option>
                            </select>
                            </form>
                        </td>
                        <td><a th:href="@{'/admin/showInfoUser/' + ${elem.id}}"
                               class="btn btn-info">${elem.nickName}</a></td>
                        <td>${elem.email}</td>
                        <td>${elem.balance}</td>
                        <td><a th:href="@{'/admin/showSales/' + ${elem.id}}" class="btn btn-primary">${elem.sales.size()}</a></td>
                        <td>${sums[status.index]}</td>
                        <td>
                            <div class="form-check form-switch">
                                <form th:action="@{'/admin/active/' + ${elem.id}}" method="post">
                                <input id="${elem.id}" class="form-check-input" type="checkbox" name="active" value="true"
                                th:checked="${elem.active}"/>
                                </form>
                                <label class="form-check-label">Blocked</label>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>