<!DOCTYPE html>
<html lang="ua"  xmlns:th="http://www.thymeleaf.org"
      xmlns:pmenu="http://www.thymeleaf.org/extras/pmenu"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>${title}</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
<div th:insert="home/fragments/header :: header"/>
<a th:href="@{/backHome}" class="btn btn-outline-primary mt-1">Back</a>
<form th:action="@{'/admin/' + ${card != null ? 'editPeriodical/' + card.id : 'addPeriodical'}}"
      th:method="POST" enctype="multipart/form-data">
    <div class="card">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid rounded-start" th:src="${card != null ?card.pathImage :_}"
                     alt="Card image">
                <th:block th:if="${editPage}" >
                    <input name="file" type="file"/>
                </th:block>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <div th:insert="card/fragments/name-card :: name-card"/>
                    <div th:insert="card/fragments/catalog-card :: catalog-card"/>
                    <div th:insert="card/fragments/price-card :: price-card"/>
                    <div th:insert="card/fragments/info-card :: info-card"/>
                </div>
                <div class="card-footer row">
                    <th:block th:if="${editPage}">
                        <input type="submit" class="btn btn-primary col-3" id="submitCard" value="Send">
                    </th:block>
                    <th:block th:if="${editPage}">
                        <button type="button" class="btn btn-primary col-3" id="addCatalog" data-bs-toggle="modal"
                                data-bs-target="#sale" onclick="openSale('${card_id}')">Підписатись</button>
                    </th:block>
                    <th:block th:if="${editPage}">
                        <button type="button" class="btn btn-primary col-3"
                                id="removeCatalog">Редагувати</button>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>