<th:block th:fragment="replace-price">
<div class ="row" id="idPrice">
    <th:block th:each="el, status : ${card-data}">

            <th:block th:if="${editPage}">
                <div class="input-group">
					<span class="input-group-text">[[#{modal.sale.from}]]</span>
                    <input type="date" class="form-control" name="from_data${status.count}"
                    th:attr="${status.end > 0} ? value=${el.startData} :_"/>
                    <span class="input-group-text">[[#{modal.sale.to}]]</span>
                    <input type="date" class="form-control" name="to_data${status.count}"
                    th:attr="${status.end > 0} ? value=${el.endData} :_"/>
                    <span class="input-group-text">[[#{modal.sale.price}]]</span>
                    <input type="number" step='0.01'  min='0' class="form-control" name="new-price${status.count}"
                    th:attr="${status.end > 0} ? placeholder=${el.price} :_"/>
                    <span class="input-group-text">[[#{icon.money}]]</span>
                </div>
            </th:block>
            <th:block th:unless="${editPage}">
                <div>
                    <label class="form-label col">з ${el.startData} по
                        ${el.endData} ціна ${el.price} грн</label>
                </div>
            </th:block>

    </th:block>
</div>
<th:block th:if="${editPage}">
    <small class="form-text text-danger">${errorPrice}</small>
    <small class="form-text text-danger">${errorPriceNew}</small>
</th:block>
</th:block>