<div xmlns:th="http://www.thymeleaf.org" xmlns:pmenu="http://www.thymeleaf.org/extras/pmenu">
  <th:block th:each="element, status : ${card-catalogs}" var="element" items="${card_catalogs}"
             varStatus="full_catalog">
    <div class="row">
      <th:block  th:if="${editPage}">
			<span class="btn btn-primary col-1" data-bs-toggle="modal"
                  data-bs-target="#myModal"
                  onclick="getCatalogs('edit','${element.level}')">+</span>
      </th:block>
      <p class="card-text col-4" pmenu:item="${element.id}"/>
    </div>
  </th:block>
  <th:block th:if="${editPage}">
    <input type="hidden" name="count_catalogs" value="${count_catalogs}">
    <button type="button" class="btn btn-primary"
            onclick="getCatalogsCard('-1')"><fmt:message bundle="${rb}" key="button.add"/></button>
    <button type="button" class="btn btn-primary"
            onclick="getCatalogsCard('0')"><fmt:message bundle="${rb}" key="button.delete"/></button>
  </th:block>
</div>