<th:block th:fragment="catalog-card">
<p class="card-text">[[#{card.head}]]</p>
    <th:block th:if="${editPage}">
    <select id="pagination" class="form-select" name="catalog">
        <th:block th:each="elem,stat : ${listCatalogs}">
            <option th:value="${elem.id}" th:selected="${elem.id == idCatalog}">
                [[${#locale.language == 'ua' ? elem.nameUa : elem.nameEn}]]</option>
        </th:block>
    </select>
    </th:block>
    <th:block th:unless="${editPage}">
        <div>
            <label class="form-label col">[[${card.catalog}]]</label>
        </div>
    </th:block>
</th:block>