<th:block th:fragment="info-card">
    <th:block th:if="${editPage}">
        <label for="comment">[[#{card.comments}]]</label>
        <textarea class="form-control" rows="3" id="comment" name="info"
                     placeholder="#{card.commentField}">
        [[${card != null ? card.info :_}]]</textarea>
    </th:block>
    <th:block th:unless="${editPage}">
        <p class="card-text">${card.info}</p>
    </th:block>
</th:block>