<th:block th:fragment="name-card">
    <th:block th:if="${editPage}">
        <div class="row mb-3">
            <label for="card_name" class="col-2 col-form-label">
                [[#{user.namePeriodical}]]</label>
            <div class="col-10">
                <input type="text" id="card_name" class="form-control"
                       name="name" th:value="${card != null ? card.name : _}"
                       th:placeholder="#{card.nameSection}">
            </div>
        </div>
    </th:block>
    <th:block th:unless="${editPage}">
        <h4 class="card-title">${card.name}</h4>
    </th:block>
</th:block>