<th:block th:fragment="price-card">
<p class="card-text">[[#{card.prices}]]</p>
    <th:block th:if="${editPage}">
        <div class="input-group">

            <span class="input-group-text">[[#{modal.sale.price}]]</span>
            <input type="number" step='0.01'  min='0' class="form-control" name="price"
                   th:value="${price}"/>
            <span class="input-group-text">[[#{icon.money}]]</span>
        </div>
    </th:block>
    <th:block th:unless="${editPage}">
        <div>
            <label class="form-label col">[[#{modal.sale.price}]] ${el.price} [[#{icon.money}]]</label>
        </div>
    </th:block>
</th:block>