<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">
                <a th:href="@{/backHome}" class="btn btn-outline-primary mt-1">
                    [[#{icon.back}]]</a>
                <h4 class="card-title mt-2">[[#{page.home.card.SignUp}]]</h4>
            </header>
            <article class="card-body">
                <form action="/writeRegistration" method="POST">
                    <div class="row">
<!--                        <c:if test="${admin}"><input type="hidden" name="admin_id" value="${admin_id}"></c:if>-->
                        <input type="hidden" name="id" value="${user != null ?user.id :_}"/>
                        <div class="col form-group">
                            <label>[[#{registration.firstName}]]</label>
                            <input type="text" name="firstName" class="form-control"
                                   th:value="${userInfo != null ?userInfo.firstName :_}" placeholder="Enter name">
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>[[#{registration.lastName}]]</label>
                            <input type="text" name="lastName" class="form-control"
                                   th:value="${userInfo != null ?userInfo.lastName :_}" placeholder="Enter name">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="row">
                        <div class="col form-group">
                            <label>[[#{registration.nickName}]]</label>
                            <input type="text" name="nickName" class="form-control"
                                   th:value="${user != null ?user.nickName :_}" placeholder="Enter name">
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>[[#{registration.city}]]</label>
                            <input type="text" name="city" class="form-control"
                                   th:value="${userInfo != null ?userInfo.city :_}" placeholder="Enter city">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <label>[[#{registration.birth}]]</label>
                        <input type="date" name="date" class="form-control"
                               th:value="${userInfo != null ?userInfo.date :_}">
                        <small class="form-text text-danger">[[${error_date_birth != null ?:_}]]</small>
                    </div> <!-- form-group end.// -->
                    <div class="form-group">
                        <label>[[#{registration.email}]]</label>
                        <input type="email" name="email" class="form-control"
                               th:value="${user != null ?user.email :_}" placeholder="Enter email">
                        <small class="form-text text-danger">[[${error_email != null ?:_}]]</small>
                    </div> <!-- form-group end.// -->
                    <div class="form-group">
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" value="MAN"
                             th:checked="${userInfo?.role?.name() == 'MAN'}"/>
<!--                            <c:if test="${userInfo.gender.name() == 'MAN'}"> checked</c:if>>-->
                            <span class="form-check-label"> [[#{registration.man}]] </span>
                        </label>
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" value="WOMAN"
                                   th:checked="${userInfo?.role?.name() == 'WOMAN'}"/>
<!--                            <c:if test="${userInfo.gender.name() == 'WOMAN'}"> checked</c:if>>-->
                            <span class="form-check-label"> [[#{registration.woman}]] </span>
                        </label>
                    </div> <!-- form-group end.// -->

                    <div class="row">
                        <div class="col-5 form-group">
                            <label>[[#{registration.login}]]</label>
                            <input type="text" name="login" class="form-control" th:value="${ user != null ?user.login :_}"
                                   placeholder="Enter login">
                            <small class="form-text text-danger">[[${error_login != null ?:_}]]</small>
                        </div> <!-- form-group end.// -->
                        <div class="col-7 form-group">
                            <label>[[#{registration.password}]]</label>
                            <input class="form-control" name="password" type="password">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            [[#{registration.register}]]</button>
                    </div> <!-- form-group// -->
                </form>
            </article> <!-- card-body end .// -->
            <div class="border-top card-body text-center">[[#{registration.account}]]
                <a href="guest.Sing">[[#{page.home.head.buttonEnter}]]</a></div>
        </div> <!-- card.// -->
    </div> <!-- col.//-->

</div> <!-- row.//-->
</body>
</html>