<!DOCTYPE html>
<html lang="ua"  xmlns:th="http://www.thymeleaf.org"
      xmlns:pmenu="http://www.thymeleaf.org/extras/pmenu"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<body>
<div layout:fragment="replace_index">
    <h4 class="modal-title">[[#{modal.editCatalog.head}]]</h4>
    <a th:href="@{/backHome}" class="btn btn-outline-primary mt-1">Back</a>
    <div class="modal-body">

        <form method="POST" th:action="@{/admin/change-catalog + ${typePage =='card' ? '-card' : ''}">

        <th:block th:if="${typePage =='home'}">
            <div class="row mb-3">
                <label for="ua_name"
                       class="col-sm-2 col-form-label col-form-label-sm">Назва
                    розділу</label>
                <div class="col-sm-10">
                    <input type="text" id="ua_name"
                           class="form-control form-control-sm" name="nameUa"
                           placeholder="Введіть назву розділу">
                </div>
            </div>
            <div class="row mb-3">
                <label for="en_name"
                       class="col-sm-2 col-form-label col-form-label-sm">Name
                    topic</label>
                <div class="col-sm-10">
                    <input type="text" id="en_name"
                           class="form-control form-control-sm" name="nameEn"
                           placeholder="Enter new catalog">
                </div>
            </div>
        </th:block>
            <input type="submit" value="#{icon.Send}">


        </form>
    </div>
</div>
</body>
</html>