<div th:fragment="replace-catalog">
    <div id="modalSubCatalogs">
        <th:block th:each="elem,stat : ${listCatalogs}">
            <div class="row mb-3">
                <select class="form-select" th:attr="${!stat.last ? onchange=changeCatalog('change') : _}"
                name="catalog${stat.count}">
                <th:block th:each="el,st : ${elem.catalogs}">
                    <option value="${el.id}" th:selected="${el.id == elem.id}" >
                        ${${#locale.language} == ua ? el.nameUa : el.nameEn}</option>
                </th:block>
                </select>
            </div>
        </th:block>
        <input type="hidden" name="numberCatalogs" value="${ListCatalogs.size}">
    </div>
    <div class="row mb-3">
        <button id="addCatalog" type="button" class="btn btn-primary col-1"
                onclick="changeCatalog('add')">+</button>
        <button id="removeCatalog" type="button" class="btn btn-primary col-1"
                onclick="remCatalog()">-</button>
        <label for="addCatalog" class="col-sm-5 col-form-label col-form-label-sm">
            [[#{modal.catalog.attach}]]</label>
    </div>
    <input type="hidden" name="number-catalogs" th:value="${listCatalogs.size()}">
    <th:block th:if="${typeOperation == 'editPage'}">
        <div id="oldName" class="row mb-3">
            <label for="oldCatalog" class="col-sm-5 col-form-label">
                [[#{modal.catalog.oldName}]]</label>
            <label id="oldCatalog" class="col-sm-5 col-form-label">${oldName}</label>
            <input type="hidden" name="id" value="${oldId}">
        </div>
    </th:block>
</div>