<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>${title}</title>
</head>
<body>
<p th:text="'Hello, ' + ${title} + '!'" />
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div th:each="el : ${catalogs}">
    <h3 th:text="${el.name_ua}"/>
</div>
</body>
</html>