<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>${title}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>

<p  id="p" th:text="'Hello, ' + ${title} + '!'" />
<button  id="fg">fg</button>
<form action="/hello" method="get">
    <select id="pagination" class="form-select" name="size">
        <option>6</option>
        <option>15</option>
        <option>30</option>
    </select>
</form>
</body>
</html>