<div th:fragment="card">
    <div class="col card m-3">
        <div class="card-body">

            <a th:href="@{'' + ${editPage ? '/admin/editCard/'+ elem.id : '/guest/show/' + elem.id}}">
                <img class="card-img-top" th:src="${elem.pathImage}" alt="Card image">
                <h4 class="card-title" th:text="${elem.name}"></h4>
                <p class="card-text" th:text="'' + #{page.home.card.pSubscription} + ' ' + ${!elem.prices.isEmpty() ? elem.prices.toArray()[0].price :_} + ' ' + #{icon.money}"></p>
            </a>
        </div>
        <div class="card-footer row">
            <div sec:authorize="hasRole('USER')">
                <button class="btn btn-primary col"
                   data-bs-toggle="modal" data-bs-target="#sale" th:onclick="'javascript:openSale(\'' + ${elem.id}+'\');">
                    <h6 th:text="#{page.home.card.subscribe}"/></button>
            </div>
            <div th:if="${editPage}">
                <a class="btn" th:href="@{'/admin/deletePeriodical/' + ${elem.id}}">[[#{button.delete}]]</a>
            </div>
        </div>
    </div>
</div>