<div th:fragment="field-cards">
    <div class="row">
        <h5 th:text="#{page.home.fieldCards.h5OpenTag} +' '+ ${page.getTotalElements()} +' '+ #{page.home.fieldCards.h5CloseTag}"/>
        <form th:action="@{/guest/pageable}" method="get">
        <div id="settingPage" class="input-group">
            <div class="col-1">

                    <select id="pagination" class="form-select" name="size">
                        <option th:selected="${page.getSize()==6}">6</option>
                        <option th:selected="${page.getSize()==15}">15</option>
                        <option th:selected="${page.getSize()==30}">30</option>
                    </select>

            </div>
            <span class="input-group-text" th:text="#{page.home.fieldCards.spanPages}"/>

            <th:block th:if="${page.getTotalPages() > 1}" th:insert="home/fragments/pagination :: pagination"/>

            <span class="input-group-text" th:text="#{page.home.fieldCards.spanName}"/>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sort" id="inlineRadio1" value="name,DESC"
                       th:selected="${page.getSort() == 'name:DESC'}">
                <label class="form-check-label" for="inlineRadio1">&#9759</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sort" id="inlineRadio2" value="name,ASC"
                       th:selected="${page.getSort() == 'name:ASC'}">
                <label class="form-check-label" for="inlineRadio2">&#9757</label>
            </div>
            <span class="input-group-text"th:text="#{page.home.fieldCards.spanPrice}"/>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sort" id="inlineRadio3" value="price,DESC"
                       th:selected="${page.getSort() == 'price:DESC'}">
                <label class="form-check-label" for="inlineRadio3">&#9759</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sort" id="inlineRadio4" value="price,ASC"
                       th:selected="${page.getSort() == 'price:ASC'}">
                <label class="form-check-label" for="inlineRadio4">&#9757</label>
            </div>

        </div>
        </form>
        <th:block th:if="${editPage}">
            <div><a th:href="@{/admin/newCard}"  class="btn btn-outline-primary text-end"
                th:text="#{page.home.fieldCards.newCard}"/></div>
        </th:block>

            <div class="row row-cols-3">
                <th:block th:each="elem, status : ${page}" >
                    <th:block th:insert="home/fragments/card :: card"></th:block>
                </th:block>
            </div>
            <th:block th:if="${editPage}">
                <button type="submit" class="btn btn-primary col-4" th:text="#{button.delete}"/></button>
            </th:block>

    </div>
</div>