<th:block th:fragment="footer">
<div class="container">
    <footer class="py-3 my-4">
        <p class="text-center text-muted" th:text="'© 2022 ' + #{page.footer}"/>
    </footer>
</div>
</th:block>