<th:block th:fragment="header">
<div class="container">
    <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="#"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="card-img-top" src="assets/tst_09.png" alt="Card image"
                 style="width: 40px;">
        </a>

        <form th:action="@{/guest/findName}" method="get">
            <div class="input-group mb-3">
                <label><input type="search" name="name"
                              class="form-control" th:value="${findName ?:_}" th:placeholder="#{page.home.head.textSearch}"/></label>
                <button class="btn btn-primary" type="submit" th:text="#{page.home.head.buttonSearch}"/>
            </div>
        </form>

        <div class="col-md-3 text-end" th:switch="${#strings.toString(#authentication.authorities.toArray()[0])}">
                    <div class="dropdown text-end" th:case="'ADMIN'">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="assets/tst_04.png" alt="mdo" width="64" height="64" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" >
                            <li><a class="dropdown-item" href="periodical?command=admin.EditPage" th:text="#{page.home.head.adminMenu.optionEditPage}"/></li>
                            <li><a class="dropdown-item" href="periodical?command=admin.AdminPage" th:text="#{page.home.head.adminMenu.optionShowUsers}"/></li>
                            <li><a class="dropdown-item" href="periodical?command=guest.Card&type_operation=add" th:text="#{page.home.head.adminMenu.optionNewCard}"/></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="periodical?command=user.ExitUser" th:text="#{optionSignOut}"/></li>
                        </ul>
                    </div>

                <th:block th:case="'USER'">
                    <div class="text-start">
                        <label th:text="#{icon.balance}"/>
                        <label>[[${user.balance}]]</label>
                    </div>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="assets/tst_04.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" >
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addMoney" th:text="#{page.home.head.userMenu.optionAddMoney}"/></li>
                            <li><a class="dropdown-item" th:href="@{/user/showSubscribe}" th:text="#{page.home.head.userMenu.optionShowPeriodical}"/></li>
                            <li><a class="dropdown-item" th:href="@{/user/showInfo}" th:text="#{page.home.head.userMenu.optionProfile}"/></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><form action="/logout" method="post">

                                <input type="submit" th:value="#{optionSignOut}"/>
                            </form>
                        </ul>
                    </div>
                    <div th:insert="home/fragments/modal-add-money :: modal-add-money"/>
                    <div th:insert="home/fragments/modal-sale :: modal-sale"/>
                </th:block>
                <th:block th:case="*">
                    <a th:href="@{/user/showAccount}" class="btn btn-outline-primary me-2">
                        <font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;" th:text="#{page.home.head.buttonEnter}"/></font>
                    </a>
                    <a th:href="@{/registration}" class="btn btn-primary me-2">
                        <font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;" th:text="#{page.home.head.buttonRegistration}"/></font>
                    </a>
                </th:block>
        </div>
        <div th:insert="home/fragments/locale :: locale"/>
    </div>

</div>
</th:block>