<th:block th:fragment="left-menu">
        <div id="mainMenu">
            <a class="col-6 mb-3" th:href="@{/guest/findTopic/-1}">
                [[#{noTopic}]]
            </a>
        <th:block  th:each="elem,stat : ${listCatalogs}">
            <div class="row mb-3">
                <th:block th:if="${editPage}">
                    <input type="hidden" th:value="${elem.id}">
                    <button type="button" class="btn btn-primary col-4" data-bs-toggle="modal"
                            data-bs-target="#myModal">&#9998</button>
                    <input type="hidden" th:value="${elem.nameUa}">
                    <input type="hidden" th:value="${elem.nameEn}">
                </th:block>
                <a class="col-6 mb-3" th:href="@{'/guest/findTopic/' + ${elem.id}}">
                    [[${#locale.language == 'ua' ? elem.nameUa : elem.nameEn}]]
                </a>
                <th:block th:if="${editPage}">
                <a class="btn col-2 mb-3" th:href="@{'/admin/deleteCatalog/' + ${elem.id}}">&#10060</a>
                </th:block>
            </div>
        </th:block>
        </div>
        <th:block th:if="${editPage}">
            <button id="createCatalog" type="button" class="btn btn-primary col-4" data-bs-toggle="modal"
                    data-bs-target="#myModal">[[#{button.add}]]</button>
        </th:block>
    <div th:insert="home/fragments/modal-menu :: modal-menu"/>

</th:block>