<th:block th:fragment="locale">
<div class="row">
    <div class="col"><a href="periodical?command=Home&sessionLocale=ua"><img class="img-thumbnail col"
           src="assets/ua.png" alt="Card image"></a></div>
    <div class="col"><a href="periodical?command=Home&sessionLocale=en"><img class="img-thumbnail col"
           src="assets/eng.png" alt="Card image"></a></div>
</div>
</th:block>