<th:block th:fragment="modal-sale">
<script th:src="@{/js/sale.js}"></script>

<div class="modal" id="sale" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">[[#{modal.sale.head}]]</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" th:action="@{/user/subscribe}">
                    <h5 id="namePeriodical"></h5>
                    <input id="idPeriodical" type="hidden" name="idPeriodical"/>
                    <div>
                        <span class="input-group-text">[[#{modal.sale.from}]]</span>
                        <input id="date_start_sale" type="date" onchange="returnAmount()" class="form-control" value="${from_data_sale}" name="fromData"/>
                        <span class="input-group-text">[[#{modal.sale.to}]]</span>
                        <input id="date_end_sale" type="date" onchange="returnAmount()" class="form-control" value="${to_data_sale}" name="toData"/>
                        <span class="input-group-text">[[#{modal.sale.number}]]</span>
                        <input id="numberSale" type="number" min='0' class="form-control" name="number"/>
                        <span class="input-group-text">[[#{modal.sale.price}]]</span>
                        <input id="priceSale" type="number" min='0' class="form-control" name="number" disabled/>
                        <span class="input-group-text">[[#{modal.sale.amount}]]</span>
                        <span id="amountSale" class="input-group-text"></span>
                        <span class="input-group-text">[[#{icon.money}]]</span>
                    </div>
                    <button type="submit" class="btn btn-primary text-center">[[#{icon.Send}]]</button>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">[[#{icon.close}]]</button>
            </div>

        </div>
    </div>
</div>
</th:block>