<th:block th:fragment="modal-menu">
    <script  type="text/javascript" th:src="@{/js/modal.js}"></script>

<!-- The Modal -->
<div class="modal" id="myModal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">[[#{modal.editCatalog.head}]]</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form id="modalForm" method="POST">
                        <div class="row mb-3">
                            <label for="ua_name"
                                   class="col-sm-2 col-form-label col-form-label-sm">Назва
                                розділу</label>
                            <div class="col-sm-10">
                                <input type="text" id="ua_name"
                                       class="form-control form-control-sm" name="nameUa"
                                       placeholder="Введіть назву розділу">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="en_name"
                                   class="col-sm-2 col-form-label col-form-label-sm">Name
                                topic</label>
                            <div class="col-sm-10">
                                <input type="text" id="en_name"
                                       class="form-control form-control-sm" name="nameEn"
                                       placeholder="Enter new catalog">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">[[#{icon.Send}]]</button>
                    </form>



            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    [[#{icon.close}]]</button>
            </div>

        </div>
    </div>
</div>
</th:block>