<th:block th:fragment="modal-add-money">
<div class="modal" id="addMoney" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">[[#{modal.addMoney.title}]]</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" th:action="@{/user/addMoney}">
                    <div class="row mb-3">
                        <label for="money"
                               class="col-sm-4 col-form-label col-form-label-sm">[[#{modal.addMoney.labelSum}]]</label>
                        <div class="col-sm-4">
                            <input type="number" step="0.01"  min="0" id="money"
                                   class="form-control form-control-sm" name="addMoney">
                        </div>
                        <label for="money" class="col-sm-2 col-form-label col-form-label-sm">[[#{icon.money}]]</label>
                    </div>
                    <button type="submit" class="btn btn-primary text-center">[[#{modal.addMoney.topUp}]]</button>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">[[#{icon.close}]]</button>
            </div>

        </div>
    </div>
</div>
</th:block>