<th:block th:fragment="pagination">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{/guest/pageable(page=${page.previousOrFirstPageable().getPageNumber()})}">
                [[#{pagination.previous}]]</a></li>
        <th:block th:each="elem, status : ${totalPages}" >
            <li class="page-item" th:active="${page.getNumber() == status.index}">
                <a class="page-link" th:href="@{/guest/pageable(page=${status.index})}">
                    [[${status.count}]]</a></li>
        </th:block>
        <a class="page-link" th:href="@{/guest/pageable(pageable=${page.nextOrLastPageable().getPageNumber()})}">
            [[#{pagination.next}]]</a></li>
    </ul>
</th:block>