<div class="input-group"  xmlns:th="http://www.thymeleaf.org">
    <span class="input-group-text">[[#{modal.sale.date}]]</span>
    <input type="date"class="form-control" name="now_data_sale"
           value="${now_data_sale}">
    <span class="input-group-text">[[#{user.namePeriodical}]]: ${namePeriodical}</span>
    <input type="hidden" class="form-control" value="${idPeriodicalSale}" name="idPeriodicalSale"/>

    <span class="input-group-text">[[#{modal.sale.price}]] ${priceSale}</span>
    <input id="priceSale" type="hidden" class="form-control" value="${priceSale}" name="priceSale"/>

</div>